# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore build folders
client/build/
server/build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store